.App {
  text-align: center;
}

#board {
  display:flex;
  flex-flow:row wrap;
  width:350px;
}

#square {
  width: 100px;
  height: 100px;
  border: solid 2px black;
  margin: 2px;
}

#treasure::before {
  content: "💰";
}
